body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
h1, h2, h3{
    font-weight: 900;
    line-height: 1.5;
}
.big-heading{
    font-size: 3.5rem;
}
.section-heading{
    font-size: 3rem;
}
p{
    color: #8f8f8f;
}
.container-fluid{
    padding: 7% 15%;
}
.colored-section{
    background-color: #ff4c68;
    color:#fff;
}
.white-section{
    background-color: #fff;
}

/* NAVBAR */
.navbar{
    padding-bottom:4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    line-height: 1.5;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size: 1.2rem;
    font-weight: 300;
}

/* HEADER */
#title .container-fluid{
    padding: 3% 15% 7%;
    text-align:left;
}
.download-button{
    margin:5% 3% 5% 0;
}
.header-img-pos{
    position:relative;
}
.header-img{
    position: absolute;
    right: 30%;;
    width: 60%;
    transform: rotate(25deg);
}

/* FEATURES */
#features{
    position: relative;
}
#features .col-lg-4{
    padding: 0 4.5%;
}
.features-icon{
    color:#ef8172;
    font-size: 70px;
}
.features-icon:hover{
    color:#ff4c68;
}

/* TESTIMONIALS */
#testimonials{
    background-color: #ef8172;
}
.testimonial-img{
    border-radius: 100%;
    margin: 20px;
    width: 10%;
}

/* PRESS */
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}

/* PRICING */
#pricing{
    padding: 100px;
}
.pricing-col{
padding: 3% 2%;
}

/* */

/* FOOTER */
.footer-icon{
    margin: 20px 10px;
}
.footer-icon-section{
    margin: 20px 0;
}


@media (max-width: 1028px) {
    #title{
        text-align: center;
    }
    .header-img{
        position:static;
        transform: none;
    }
}